@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Общие стили */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
}

.container {
	max-width: 1600px;
	margin: 0 auto;
}

.container-mini{
	max-width: 1140px;
	margin: 0 auto;
}

.p-text{
	font-weight: 300;
	font-size: 14px;
	line-height: 17px;
	color: #5D5D5D;
}

.header{
  background: #222222;
}

.header__wraper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 75px;
}

.logo{

}

.logo__list{
  display: flex;
  list-style: none;
}

.logo__list-item{
  font-size: 29px;
  margin-right: 40px;
}

.logo__list-item a{
  color: #E8E8E8;
}

.logo__list-item:last-child{
  margin-right: 0px;
}

.menu__list{
  display: flex;
  list-style: none;
}

.menu__list-item{
  font-size: 29px;
  margin-right: 33px;
}

.menu__list-item a{
  color: #E8E8E8;
}

.menu__list-item:last-child{
  margin-right: 0px;
}

.promo{
  background: #F1E4E6;
  display: flex;
  align-items: center;
}

.promo__image-wraper{
	max-width: 800px;
}

.promo__img{
	max-width: 100%;
	height: auto;
	margin-right: 92px;
}

.promo__heading{
	position: relative;
}

.promo__heading:before{
	position: absolute;
	left: -28px;
	content: "";
	height: 80px;
	border: solid 6px #F16D7F;
}

.promo__heading-big{
	font-weight: 900;
	font-size: 48px;
	line-height: 58px;
	color: #222222;
}

.promo__heading-small{
	font-weight: 700;
	font-size: 32px;
	line-height: 38px;
	color: #222222;
}

.promo__heading-red{
	font-weight: 700;
	font-size: 32px;
	line-height: 38px;
	color: #f16d7f;
}

.categories{
	padding-top: 65px;
}

.categories__wrapper{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.categories__sex-age{
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}

.center{
	margin: auto;
}

.categories-item{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 31.5%;
	max-width: 360px;
	min-height: 260px;
}

.categories-item-text{
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
	text-align: center;
	color: #FFFFFF;
	text-transform: uppercase;
}

.categories-item-heading{
	font-size: 24px;
	font-weight: 700;
	line-height: 29px;
	text-align: center;
	color: #F16D7F;
	text-transform: uppercase;
}

.categories__women{
	background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url("img/for-women.png");
}

.categories__men{
	background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url("img/for-men.png");
}

.categories__kids{
	background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url("img/for-kids.png");
}

.categories__accesories{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	min-height: 180px;
	background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url("img/accesories.png");
}

.featuredItems{
	padding-top: 96px;
	padding-bottom: 96px;
}

.featuredItems__wrapper{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.featuredItems__header{
	margin-bottom: 48px;
}

.featuredItems__heading{
	font-size: 30px;
	line-height: 36px;
	color: #222222;
	text-align: center;
	margin-bottom: 6px;
}

.featuredItems__text{
	font-size: 14px;
	line-height: 17px;
	color: #9F9F9F;
	text-align: center;
}

.featuredItems__box{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 48px;
}

.featuredItems__box-item{
	max-width: 360px;
	margin-bottom: 30px;
	padding-bottom: 20px;
	background: #F8F8F8;
}

.featuredItems__box-item:nth-last-child(-n+3){
	margin-bottom: 0px;
}

.featuredItem-image{
	max-width: 100%;
	height: auto;
	margin-bottom: 25px;
}

.featuredItem-heading{
	max-width: 324px;
	margin-left: 18px;
	margin-bottom: 12px;
	font-size: 13px;
	line-height: 16px;
	color: #000000;
}

.featuredItem-text{
	max-width: 328px;
	margin-left: 16px;
	margin-bottom: 18px;
	font-weight: 300;
	font-size: 14px;
	line-height: 17px;
	color: #5D5D5D;
}

.featuredItem-cost{
	max-width: 324px;
	margin-left: 18px;
	font-size: 16px;
	line-height: 19px;
	color: #F16D7F;
}

.featuredItems-moreButton{
	display: inline-block;
	padding: 14px 38px;
	font-size: 16px;
	line-height: 19px;
	color: #F26376;
	border: 1px solid #F26376;
	text-decoration: none;
}

.footer__top{
	background: #222224;
	padding-top: 103px;
	padding-bottom: 103px;
}

.footer__top__wrapper{
	display: flex;
	justify-content: space-between;
}

.footer__top__card{
	max-width: 360px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer__top__card-img{
	
}

.footer__top__card-img-1{
	width: 50px;
	height: 40px;
	margin-bottom: 28px;
	background: url("img/delivery-icon.png") no-repeat 50% 50%;
}

.footer__top__card-img-2{
	width: 50px;
	height: 40px;
	margin-bottom: 28px;
	background: url("img/sale-icon.png") no-repeat 50% 50%;
}

.footer__top__card-img-3{
	width: 50px;
	height: 40px;
	margin-bottom: 28px;
	background: url("img/quality-icon.png") no-repeat 50% 50%;
}

.footer__top__card-heading{
	margin-bottom: 16px;
	font-size: 20px;
	line-height: 24px;
	color: #FBFBFB;
}

.footer__top__card-text{
	font-weight: 300;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: #FBFBFB;
	opacity: 0.6;
}

.footer__middle{
	padding-top: 97px;
	padding-bottom: 153px;
	background: url("img/footer-middle-bg.png") no-repeat;
}

.footer__middle__wrapper{
	display: flex;
	align-items: flex-end;
}

.footer__middle__about{
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 360px;
	margin-right: 327px;
}

.footer__middle__about-avatar{
	margin-bottom: 30px;
}

.footer__middle__about-text{
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	color: #222224;
}

.footer__middle__subscribe{
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 360px;
}

.footer__middle__subscribe-heading{
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	color: #222224;
}

.footer__middle__subscribe-text{
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #222224;
	margin-bottom: 30px;
}

.footer__middle__subscribe-inputGroup{
	position: relative;
}

.footer__middle__subscribe-input.email{
	padding: 16px 0px 16px 22px;
	width: 256px;
	font-size: 14px;
	line-height: 17px;
	color: #222224;
	opacity: 0.67;
	border: none;
	background: #E1E1E1;
	border-radius: 50px 0 0 50px;
}

.footer__middle__subscribe-input.button{
	padding: 16px 22px;
	margin-left: -3px;
	width: 100px;
	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;
	border: none;
	background: #F16D7F;
	border-radius: 0 50px 50px 0;
}

.footer__bottom{
	background: #222224;
}

.footer__bottom__wrapper{
	min-height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.copyright{
	font-size: 16px;
	line-height: 19px;
	color: #FBFBFB;
}

.social{
	font-size: 32px;
	color: #FFFFFF;
}